<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard-style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Welcome to HR Dashboard</h1>
    </div>

    <div class="navbar">
        <a href="{{ url_for('employees') }}">Employees</a>
        <a href="{{ url_for('managers') }}">Managers</a>
        <a href="{{ url_for('departments') }}">Departments</a>
        <a href="{{ url_for('logout') }}" id="logout-btn">Logout</a>
    </div>

    <div class="container">
        <h2>Hello, {{ first_name }}</h2>
        <p>Welcome to your HR management dashboard.</p>

        <div class="chart-container">
            <canvas id="departmentHistogram"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="salaryRangesPieChart"></canvas>
        </div>
    </div>
 <script src="{{ url_for('static', filename='js/dashboard-script.js') }}"></script>
</body>
</html>
