<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        .flash-message {
            color: red;
        }
    </style>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        window.onload = function() {
            setTimeout(function() {
                var message_ele = document.getElementById('flash-message');
                if (message_ele) {
                    message_ele.style.display = 'none';
                }
            }, 5000);
        };
    </script>
</head>
<body>
   {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flash-message" class="flash-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form action="/login" method="post" style="padding-top: 5%">
            <!-- Login form fields -->
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="register-link">
            New here? <a href="{{ url_for('register') }}">Register now</a>.
        </p>
</body>
</html>
