<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        .flash-message {
            color: red;
        }
        .google-sign-in-btn {
            display: flex;
            justify-content: center;
            margin-bottom: 15px; /* Adjust spacing as needed */
        }
    </style>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login-style.css') }}">
    <script>
        window.onload = function() {
            setTimeout(function() {
                var message_ele = document.getElementById('flash-message');
                if (message_ele) {
                    message_ele.style.display = 'none';
                }
            }, 5000);
        };
    </script>
</head>
<body>
     <nav id="navbar">
            <a href="/" >Home</a>
            <a href="/#about">About Us</a>
            <a href="/#contact">Contact Us</a>
<!--            <a href="">Login</a>-->
    </nav>
    <div class="keyword-background">
           <span class="keyword1">HR</span>
           <span class="keyword2">Management</span>
           <span class="keyword3">Human Resources</span>
           <span class="keyword4">Employee</span>
           <span class="keyword5">Payroll</span>
           <span class="keyword6">Recruitment</span>
           <span class="keyword7">Training</span>
           <span class="keyword8">Development</span>
            <span class="keyword9">Benefits</span>
           <span class="keyword10">Compensation</span>
           <span class="keyword11">Talent Management</span>
           <span class="keyword12">Performance</span>
           <span class="keyword13">Succession</span>
           <span class="keyword14">Engagement</span>
           <span class="keyword15">Analytics</span>
           <!-- Add more keyword spans as desired -->
    </div>
   {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flash-message" class="flash-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form action="/login" method="post" style="padding-top: 5%">
            <!-- Login form fields -->
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <p class="register-link">
                New here? <a href="{{ url_for('register') }}">Register now</a>.
            </p>
            <div class="google-sign-in-btn">
                <a href="#">
                    <img src="{{ url_for('static', filename='/images/signInImage.jpeg') }}" alt="Sign in with Google">
                </a>
            </div>
        </form>

</body>
</html>
